<div class="col">
  <div class="card h-100 hoverable">
    <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </a>
    {% if project.has_links %}
      <div class="card-footer">
        {% if project.github %}
          <a href="{{ project.github }}" class="btn btn-sm z-depth-0" role="button">Code</a>
        {% endif %}
        {% if project.docs %}
          <a href="{{ project.docs }}" class="btn btn-sm z-depth-0" role="button">Docs</a>
        {% endif %}
        {% if project.poster %}
          <a href="{{ project.poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
